<div *ngIf="loading" class="loading-overlay">
    <div class="loading-center">
        <img alt="loading..." src="assets/images/loading.gif" />
    </div>
</div>
<div class="subheader pb-3 pb-lg-8 subheader-transparent">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <h3 class="d-flex align-items-center text-dark font-weight-bold my-1 mr-3">{{ recordid ? 'Update Song' :
                    'Create Song' }}</h3>
                <!--end::Page Title-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-custom gutter-b">
                <form [formGroup]="songForm" class="form w-100" (ngSubmit)="onFormSubmit();">
                    <div class="card-body">
                        <div class="form-group row">
                            <input type="hidden" formControlName="id" />
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Title</label>
                                <input type="text" class="form-control" #title minlength="3" maxlength="250"
                                    placeholder="Title" formControlName="title">
                            </div>
                            <div class="col-md-6">
                                <label>Artist</label>
                                <input type="text" class="form-control" minlength="3" maxlength="250"
                                    placeholder="Artist" formControlName="artist">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Year</label>
                                <input type="text" class="form-control" maxlength="4" placeholder="e.g. 1950" formControlName="year">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button *ngIf="!recordid" type="submit" [disabled]="!songForm.valid"
                                    class="btn btn-primary">Create</button>&nbsp;
                                <button *ngIf="recordid" type="submit" [disabled]="!songForm.valid"
                                    class="btn btn-primary">Update</button>&nbsp;
                                <a [routerLink]="['/']" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>