a{
    color: white;
    text-decoration: none;
}
.custom-form {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 30px;
    border-radius: 12px;
    max-width: 800px;
    margin: auto;
}

.all-pages {
    padding: 30px 0;
}
.custom-form label {
    padding: 0;
    margin: 0 0 5px 0;
    color: #6c6c6c;
}
.form-group {
    margin: 0 0 15px 0;
}